{:deps {org.clojure/tools.logging {:mvn/version "0.5.0"}
        inflections {:mvn/version "0.13.2"}
        io.replikativ/konserve {:mvn/version "0.5.1"}
        org.danielsz/lang-utils {:mvn/version "0.1.3"}
        org.danielsz/maarschalk {:mvn/version "0.1.3"}
        org.danielsz/system {:mvn/version "0.4.4"}
        cider/cider-nrepl {:mvn/version "0.23.0-SNAPSHOT"}}}
